<form name="loginForm" novalidate="" ng-submit="loginUser(loginForm)">

	<h3>Login</h3>

	<ion-md-input placeholder="Username" name="username" ng-model="form.username" highlight-color="dark" type="text" required="true" ng-required="true"></ion-md-input>
	<span ng-show="loginForm.username.$dirty && loginForm.username.$error" ng-messages="loginForm.username.$error" ng-messages-include="templates/form-errors.html"></span>

	<ion-md-input placeholder="Password" name="password" ng-model="form.password" highlight-color="dark" type="password" required="true" ng-required="true" ng-minlength="8"></ion-md-input>
	<span ng-show="loginForm.password.$dirty && loginForm.password.$error" ng-messages="loginForm.password.$error" ng-messages-include="templates/form-errors.html">
		<span class="form-error" ng-message="minlength">Password must be at least 8 characters.</span>
	</span>

	<div class="padding-top">
		<button class="button button-full button-balanced ink" ng-disabled="loginForm.$invalid">
			Let me in!
		</button>
	</div>

</form>