<ion-content class="stable-bg has-expanded-header">
	
	<ion-list>
		<ion-item nav-clear menu-close class="item item-icon-left" ui-sref="app.home">
	        <i class="icon ion-ios-home"></i>
			Home
	    </ion-item>

	    <ion-item class="divider"></ion-item>

		<ion-item nav-clear menu-close class="item item-icon-left" ui-sref="app.profile">
	        <i class="icon ion-ios-person"></i>
			Profile
	    </ion-item>

		<ion-item nav-clear menu-close class="item item-icon-left" ng-click="logout()">
	        <i class="icon ion-log-out"></i>
			Logout
	    </ion-item>
	</ion-list>

</ion-content>